* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Caveat", cursive;
  font-family: "Roboto", sans-serif;
  color: white;
}

#wallpaper {
  position: fixed;
  z-index: -1;

}
@media (min-aspect-ratio: 16/9) {
  #wallpaper {
    min-width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  #wallpaper {
    min-width: auto;
    height: 100%;
  }
}

@media screen and (max-width: 768px) {
    #wallpaper {
        display: none;
    }
    body {
        background: url(./Capture-mobile.PNG);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }
}

.container {
    padding: 0 10px;
}